

.register-container {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


input:focus {
  border-color: #1e40af;
}



button:hover {
  background-color: #1a2f96;
}


.footer a {
  font-size: 0.85rem;
  color: #1e40af;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
